$yellow: #ff4040;
$red:#ff4040;
@mixin margenes($top, $bottom){

    margin-top:$top;
    margin-bottom: $bottom;

}

*{

    margin:0;
    padding:0;
  }

.jumbotron{

    background-color: $yellow;
    color:#000000; 
    @include margenes(0px, 0px);
    
    height: 200px;
    text-align: center;
    padding-top: 75px; 
    padding-bottom: 75px;
    margin-left:0px;
    background-size: cover;
    height:100%;
    width:100%;
    max-width: 100%;
    padding-right: 0px;
    

}

footer{
padding: 10px  10px 0 10px;
background-color: #f1c40f;
@include margenes (10px, 0px);
width: 100%;
margin-left: 0px;
margin-right: 0px;
margin:0px;

}

div.row{
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin:0px;
    max-width: 100%;
    width:100%;
    
 }
 
 div.container-fluid{
    padding-right: 0px;
    margin-left: 0;
    margin-right: 0;
    margin:0px;
    width: 100%;
    max-width: 100%;
 }

 .card-item{
   flex: 1 200px;
   margin-top: 10px;

 }

 .card{
 border-color: #FFFFFF;

 }

 .card-body{
   
   padding-bottom: 0px;
   width: 100%;
   
 }

 .btn-conoce-mas{

  width: 100%;  
  max-width: 100%;
    border-radius: 5px;
    padding:0px;
    height: 40px;
    margin-top: 10px;
        background-color: $red;
 }
    .btn{
      width:100%;
    }
    .footer-address-icon{

     padding-right: 10px;
    }

    .oi-command{

      padding-right: 10px;
     }

     .img-fluid{
      margin: 0px auto;
      margin-top: 0;
      width:100%;
      
      display:inline-block;
      
     }

     .breadcrumb{
     padding: 10px;
     margin-top: 20px;
     margin-left: 20px;
     margin-right: 20px;
     background-color: #FFFFFF;
     
     }

     .breadcrumb-item.active{
      color: black;

     }
 
     .card-subtitle.text-muted{
padding-top: 12px;

     }


     
    .row{

      margin-right: 0px;
      padding-right: 0;
      margin-right: -15px;
      margin-left: -15px;
    }
    
    .container{

      margin:0px;
      padding:0px;
      padding-right: 0px;
      max-width: 100%;
      margin-left: auto;
      width: 100%;
      margin-right: auto;
      }

      html, body{
        max-width: 100%;
        overflow-x: hidden;
        
        font-family: 'Open Sans', sans-serif;
        font-family: 'Open Sans Condensed', sans-serif;
        margin:0px;
      }
     .card-img{
      margin-left: 20px;
      margin-top: 20px;

     }
     
     header {
      position: relative;
      background-color: black;
      height: 75vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
      margin-right:auto;
      margin:0;
      max-width: 100%;
    }
    
    header video {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100%;
      margin-right: auto;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    
    header .container {
      position: relative;
      z-index: 2;
      margin-right:auto;
      width: 100%;
      max-width: 100%;
      padding-right: 0px;

    }
    
    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
      margin:0px;
      margin-right:auto;
      padding-right: 0px;
      padding:0;
      max-width:100%;
    }

    .rw-sentence{
      margin: 0;
      text-align: left;
      padding-top:10px;
      padding-left: 15px;
      padding-right: 0px;
      width:100%;
      
    }

    .rw-sentence span{
      color: #444;
      white-space: nowrap;
      font-size: 100%;
      font-weight: normal;
      
      
    }

    .rw-words{
      display: inline;
      text-indent: 10px;
      
    
    }

    .rw-words span{
      position: absolute;
      opacity: 0;
      overflow: hidden;
      width: 100%;
      color: #2d3d3f;
     
    }

    .rw-words-2 span{
      animation: rotateWordsSecond 18s linear infinite 0s;
      
    }
    .rw-words span:nth-child(2) { 
      animation-delay: 3s; 
      color: #6b889d;
    }
    .rw-words span:nth-child(3) { 
      animation-delay: 6s; 
      color: #6b739d;	
    }
    .rw-words span:nth-child(4) { 
      animation-delay: 9s; 
      color: #7a6b9d;
    }
    .rw-words span:nth-child(5) { 
      animation-delay: 12s; 
      color: #8d6b9d;
    }
    .rw-words span:nth-child(6) {  
      animation-delay: 15s; 
      color: #9b6b9d;
    }

    @keyframes rotateWordsSecond {
      0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
      10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
      27% { opacity: 0; width: 100%; }
      100% { opacity: 0; }
  }

  .contenedor{
   position: relative;
   text-align:center;
   color:#FFFFFF;
  
  }

  .Centro{

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

  }

  div.Centro{
  font-size: 70px;
  color:#FFFFFF;
  width:100%;
  text-align:center;
  height:auto;

  }

  .tab-content{
    padding-top:25px;

  }
  .container-fluid{

  max-width:100%;

  }